include pycwr/__init__.py
include pycwr/draw/colormap/balance-rgb.txt
include pycwr/data/*
include pycwr/core/RadarGridC.c
include pycwr/core/RadarGridC.pyx
include requirements-core.txt
include requirements-full.txt
recursive-include pycwr/GraphicalInterface/templates *.html
recursive-include pycwr/GraphicalInterface/static *
